@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

body {
  font-family: "Lato", sans-serif;
  margin-left: 20px;
  background-color: lavender;
}

.searchbar input {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  margin-left: 5px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
}

.welcome { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}